&__day {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  width: $day-size;
  height: $day-size;

  border: $border-size solid $border-color;

  background-color: $day-color;

  font-family: Arial, sans-serif;
  font-size: 30px;

  transition:
    background-color 0.5s,
    transform 0.5s;

  &:hover {
    cursor: pointer;
    background-color: $hover-color;
    transform: translateY(-20px);
  }

  @for $day from 1 through 31 {
    &:nth-child(#{$day})::before {
      content: '#{$day}';
    }
  }
}
